<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    style
      include ./email.css
  body
    h2 Cambiar Contraseña
    p Hola, has solicitado reestablecer tu contraseña, haz click en el siguiente enlace para reestablecerlo, este enlace es temporal, así que si se vence vuelve a solicitarlo.
    a.reset(href=`${resetUrl}`) Ir a Reestablecer tu Contraseña
    p 
      | Si no puedes dar clic en Reestablecer tu Contraseña puedes copiar este enlace: 
      a(href=`${resetUrl}`) #{resetUrl}
    p Si no solicitaste este email, puedes ignorarlo.